@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"), url("../fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("../fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
html {
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #000000;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Gilroy", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
}
@media (max-width: 768px) {
  .container_tablet {
    max-width: 654px;
  }
}

.custom-select {
  position: relative;
  margin: 0;
  border: none;
}
.custom-select > select {
  display: none;
}
.custom-select__selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #000000;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-select__selected-text {
  display: inline-block;
  text-overflow: ellipsis;
  border-radius: 32px;
}
.custom-select__selected::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background: url(../assets/chevron-down-outline.svg) center no-repeat;
  background-size: 10px;
  transition: all ease-in-out 0.1s;
  opacity: 0.5;
}
.custom-select__selected.active::after {
  transform: rotate(180deg);
}
.custom-select__hide {
  display: none !important;
}
.custom-select__items {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  padding: 8px 4px;
  max-height: 240px;
  min-width: -moz-max-content;
  min-width: max-content;
  overflow-y: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #000000;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.custom-select__items::-webkit-scrollbar {
  width: 4px;
}
.custom-select__items::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.custom-select__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-select__same-as-selected {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
}
.custom-select__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.header {
  position: relative;
  z-index: 500;
  padding: 20px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
@media (max-width: 576px) {
  .header {
    padding: 15px 0 9px;
  }
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 680px) {
  .header .container {
    flex-wrap: wrap;
  }
}
.header__logo {
  flex: 0 0 auto;
  order: 0;
}
.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  .header__logo-image {
    width: 192px;
  }
}
.header__nav {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 24px;
  order: 1;
}
@media (max-width: 680px) {
  .header__nav {
    flex: 1 1 100%;
    order: 2;
  }
}
.header__nav-menu {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .header__nav-menu {
    gap: 30px;
  }
}
@media (max-width: 680px) {
  .header__nav-menu {
    justify-content: flex-start;
    gap: 15px;
    overflow: auto;
  }
}
.header__nav-menu-item {
  list-style: none;
}
.header__nav-link {
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  line-height: 133%;
  color: #000000;
  transition: color ease-in-out 0.1s;
}
@media (max-width: 992px) {
  .header__nav-link {
    font-size: 14px;
    line-height: 143%;
  }
}
@media (max-width: 680px) {
  .header__nav-link {
    font-size: 13px;
    line-height: 154%;
  }
}
.header__nav-link:hover {
  color: #e32136;
}
.header__nav-link:active {
  color: rgba(227, 33, 54, 0.75);
}
.header__nav .custom-select__selected {
  padding-left: 24px;
  background: url(../assets/location.svg) center left no-repeat;
}
@media (max-width: 992px) {
  .header__nav .custom-select__selected {
    padding-left: 19px;
  }
}
@media (max-width: 576px) {
  .header__nav .custom-select__selected {
    padding-left: 17px;
  }
}
.header__nav .custom-select__selected-text {
  max-width: 72px;
  width: 100%;
  overflow: hidden;
  font-weight: 600;
  font-size: 15px;
  line-height: 125%;
  color: #e32136;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 992px) {
  .header__nav .custom-select__selected-text {
    max-width: 64px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .header__nav .custom-select__selected-text {
    max-width: 56px;
    font-size: 13px;
  }
}
.header__nav .custom-select__items {
  padding: 6px 4px;
}
@media (max-width: 992px) {
  .header__nav .custom-select__items {
    left: auto;
    right: 0;
  }
}
.header__nav .custom-select__item {
  padding: 6px 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: #000000;
}
@media (max-width: 992px) {
  .header__nav .custom-select__item {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .header__nav .custom-select__item {
    font-size: 13px;
  }
}
.header__controls {
  display: flex;
  align-items: center;
  gap: 10px;
  order: 2;
}
@media (max-width: 680px) {
  .header__controls {
    order: 1;
  }
}
.header__callback {
  display: inline-block;
  height: 40px;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 15px;
  line-height: 125%;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  outline: none;
  background-color: #e32136;
  transition: background-color ease-in-out 0.1s, transform ease-in-out 0.1s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__callback {
    height: 36px;
    width: 36px;
    padding: 0;
    background: url(../assets/call.svg) center no-repeat;
    background-color: #e32136;
  }
}
.header__callback:hover {
  background-color: rgba(227, 33, 54, 0.85);
}
.header__callback:active {
  transform: scale(0.98);
}
@media (max-width: 992px) {
  .header__callback-text {
    display: none;
  }
}
.header__burger {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 0;
  border: none;
  border-radius: 7px;
  background: url(../assets/burger.svg) center no-repeat;
  background-color: #000000;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__burger {
    height: 36px;
    width: 36px;
  }
}
.header__burger.active {
  background-image: url(../assets/close.svg);
}
.header__burger:hover {
  background-color: rgba(0, 0, 0, 0.85);
}
.header__burger:active {
  transform: scale(0.96);
}

.main {
  overflow-x: hidden;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 400;
  max-height: 100vh;
  box-sizing: border-box;
  border-radius: 50px 0 0 50px;
  background-color: #f3f3f5;
  transition: transform ease-in-out 0.4s;
  transform: translateX(150vw);
}
.main-nav.active {
  transform: translateX(0);
}
.main-nav .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 100vh;
  padding-top: 150px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .main-nav .container {
    padding-top: 110px;
  }
}
.main-nav__nav {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  overflow: auto;
}
@media (max-width: 576px) {
  .main-nav__nav {
    gap: 18px;
    max-height: calc(100vh - 240px);
  }
}
.main-nav__nav-item {
  flex: 0 0 calc(20% - 19.2px);
}
@media (max-width: 768px) {
  .main-nav__nav-item {
    flex: 0 0 calc(33.3333333333% - 16px);
  }
}
@media (max-width: 576px) {
  .main-nav__nav-item {
    flex: 1 1 100%;
  }
}
.main-nav__nav-item_fullfilled {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media (max-width: 576px) {
  .main-nav__nav-item_fullfilled {
    gap: 18px;
  }
}
.main-nav__nav-item-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  transition: all ease-in-out 0.1s;
}
@media (max-width: 992px) {
  .main-nav__nav-item-link {
    font-size: 16px;
  }
}
.main-nav__nav-item-link:hover {
  color: #e32136;
}
.main-nav__nav-item_fullfilled .main-nav__nav-item-link {
  flex: 0 0 30%;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}
@media (max-width: 992px) {
  .main-nav__nav-item_fullfilled .main-nav__nav-item-link {
    flex: 0 0 calc(33.3333333333% - 16px);
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .main-nav__nav-item_fullfilled .main-nav__nav-item-link {
    flex: 1 1 100%;
  }
}
.main-nav__nav-item_fullfilled .main-nav__nav-item-link:first-child {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}
@media (max-width: 992px) {
  .main-nav__nav-item_fullfilled .main-nav__nav-item-link:first-child {
    font-size: 16px;
  }
}
.main-nav__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px 24px;
  padding: 32px 0;
  margin-top: 56px;
  border-top: 2px solid #eaeaea;
  border-bottom: 2px solid #eaeaea;
}
@media (max-width: 992px) {
  .main-nav__contacts {
    flex-wrap: wrap;
    padding: 24px 0;
  }
}
@media (max-width: 768px) {
  .main-nav__contacts {
    margin-top: 32px;
  }
}
@media (max-width: 576px) {
  .main-nav__contacts {
    margin-top: 12px;
    padding: 12px 0;
  }
}
.main-nav__contacts-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}
@media (max-width: 992px) {
  .main-nav__contacts-item {
    flex: 0 0 calc(50% - 12px);
    justify-content: center;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .main-nav__contacts-item {
    flex: 1 1 100%;
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .main-nav__contacts-item:last-child {
    flex: 1 1 100%;
  }
}
.main-nav__contacts-link {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #000000;
}
@media (max-width: 576px) {
  .main-nav__contacts-link {
    gap: 10px;
  }
}
.main-nav__contacts-link_phone::before, .main-nav__contacts-link_email::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background-color: #e32136;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .main-nav__contacts-link_phone::before, .main-nav__contacts-link_email::before {
    width: 24px;
    height: 24px;
    background-size: 12px;
  }
}
.main-nav__contacts-link_phone::before {
  background-image: url(../assets/call2.svg);
}
.main-nav__contacts-link_email::before {
  background-image: url(../assets/mail.svg);
}
.main-nav__contacts-link_vk, .main-nav__contacts-link_youtube {
  flex: 0 0 auto;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 576px) {
  .main-nav__contacts-link_vk, .main-nav__contacts-link_youtube {
    width: 24px;
    height: 24px;
  }
}
.main-nav__contacts-link_vk {
  background-image: url(../assets/vk.svg);
}
.main-nav__contacts-link_youtube {
  background-image: url(../assets/youtube.svg);
}
.main-nav__info {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 24px 0;
}
@media (max-width: 768px) {
  .main-nav__info {
    flex-direction: column;
    gap: 8px;
    padding: 12px 0;
  }
}
@media (max-width: 576px) {
  .main-nav__info {
    gap: 3px;
    padding: 8px 0;
  }
}
.main-nav__info-block {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
@media (max-width: 768px) {
  .main-nav__info-block {
    justify-content: center;
    flex-direction: row;
    gap: 2px 24px;
  }
}
@media (max-width: 576px) {
  .main-nav__info-block {
    flex-direction: column;
    gap: 2px 10px;
  }
}
@media (max-width: 576px) {
  .main-nav__info-block_inn {
    justify-content: center;
    flex-direction: row;
  }
}
.main-nav__info-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #000000;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .main-nav__info-text {
    flex: 0 0 calc(50% - 12px);
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .main-nav__info-text {
    flex: 0 1 auto;
    font-size: 10px;
    text-align: center;
  }
}
.main-nav__info-text-link {
  color: inherit;
}

.ad-banners {
  padding: 30px 0 50px;
}
.ad-banners__slider {
  position: relative;
}
.ad-banners__slider .swiper-pagination {
  top: calc(100% + 16px);
  bottom: auto;
  display: flex;
  justify-content: center;
}
.ad-banners__slider .swiper-pagination-bullet {
  display: block;
  width: 7px;
  height: 7px;
  margin: 0 13px;
  background-color: #000000;
}
.ad-banners__slider .swiper-pagination-bullet-active {
  background-color: #e32136;
}
.ad-banners__slider-controls {
  position: absolute;
  top: 50%;
  left: 15px;
  right: 15px;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .ad-banners__slider-controls {
    left: -13px;
    right: -13px;
  }
}
.ad-banners__slider-controls-prev, .ad-banners__slider-controls-next {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #e32136;
  border-radius: 30px;
  background-color: #e32136;
}
.ad-banners__slider-controls-prev::before, .ad-banners__slider-controls-next::before {
  filter: brightness(0) invert(1);
}
.ad-banners__slider-controls-prev.swiper-button-disabled, .ad-banners__slider-controls-next.swiper-button-disabled {
  border: 1px solid #6d6c6c;
  background-color: #ffffff;
}
.ad-banners__slider-controls-prev.swiper-button-disabled::before, .ad-banners__slider-controls-next.swiper-button-disabled::before {
  filter: brightness(1) invert(0);
}
.ad-banners__slider-controls-prev::before, .ad-banners__slider-controls-next::before {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  background: url(../assets/chevron-down-outline.svg) center no-repeat;
}
.ad-banners__slider-controls-prev::before {
  transform: rotate(90deg);
}
.ad-banners__slider-controls-next::before {
  transform: rotate(-90deg);
}
.ad-banners__slide {
  display: block;
  aspect-ratio: 3.75/1;
  overflow: hidden;
  border-radius: 15px;
  background-color: #f3f3f5;
}
@media (max-width: 768px) {
  .ad-banners__slide {
    aspect-ratio: 1/1;
  }
}
@media (max-width: 400px) {
  .ad-banners__slide {
    aspect-ratio: 1/1.8292682927;
  }
}
.ad-banners__slide-banner {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ad-banners__slide-banner_lg {
  display: block;
}
@media (max-width: 768px) {
  .ad-banners__slide-banner_lg {
    display: none;
  }
}
.ad-banners__slide-banner_md {
  display: none;
}
@media (max-width: 768px) {
  .ad-banners__slide-banner_md {
    display: block;
  }
}
@media (max-width: 400px) {
  .ad-banners__slide-banner_md {
    display: none;
  }
}
.ad-banners__slide-banner_sm {
  display: none;
}
@media (max-width: 400px) {
  .ad-banners__slide-banner_sm {
    display: block;
  }
}

.filter {
  margin-bottom: 36px;
}
.filter__wrapper {
  padding: 40px 40px 30px;
  border-radius: 15px;
  background: #f3f3f5;
}
@media (max-width: 680px) {
  .filter__wrapper {
    padding: 16px;
  }
}
.filter__controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 0;
  margin: 0 0 24px;
}
@media (max-width: 768px) {
  .filter__controls {
    justify-content: center;
  }
}
.filter__controls-button {
  display: block;
  min-width: 135px;
  padding: 13px 25px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 15px;
  line-height: 117%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.filter__controls-button.active {
  color: #e32136;
  border-color: #ffffff;
  background-color: #ffffff;
}
.filter__controls-button:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #e32136;
}
.filter__controls-button:active {
  transform: scale(0.98);
}
.filter__controls-info {
  flex: 1 1 auto;
  display: none;
  justify-content: flex-end;
  margin-left: 24px;
}
@media (max-width: 680px) {
  .filter__controls-info {
    flex: 1 1 100%;
    justify-content: center;
    margin: 0;
  }
}
.filter__controls-info.active {
  display: flex;
}
.filter__controls-info-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 125%;
  text-align: left;
  color: #000;
  border: none;
}
.filter__controls-info_tires .filter__controls-info-button::before {
  content: "";
  flex: 0 0 auto;
  display: block;
  width: 33px;
  height: 26px;
  background: url(../assets/tires.svg) center no-repeat;
}