.filter {
  margin-bottom: 36px;

  &__wrapper {
    padding: 40px 40px 30px;
    border-radius: 15px;
    background: #f3f3f5;

    @include tabletsm {
      padding: 16px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 0;
    margin: 0 0 24px;

    @include tablet {
      justify-content: center;
    }

    &-button {
      display: block;
      min-width: 135px;
      padding: 13px 25px;
      box-sizing: border-box;
      font-weight: 600;
      font-size: 15px;
      line-height: 117%;
      text-align: center;
      border-radius: 10px;
      border: 1px solid #dcdcdc;
      transition: all ease-in-out 0.1s;
      cursor: pointer;

      &.active {
        color: $red;
        border-color: $white;
        background-color: $white;
      }

      &:hover {
        color: $white;
        border-color: $white;
        background-color: $red;
      }

      &:active {
        transform: scale(0.98);
      }
    }

    &-info {
      flex: 1 1 auto;
      display: none;
      justify-content: flex-end;
      margin-left: 24px;

      @include tabletsm {
        flex: 1 1 100%;
        justify-content: center;
        margin: 0;
      }

      &.active {
        display: flex;
      }

      &-button {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0;
        font-weight: 600;
        font-size: 15px;
        line-height: 125%;
        text-align: left;
        color: #000;
        border: none;
      }

      &_tires &-button {
        &::before {
          content: '';
          flex: 0 0 auto;
          display: block;
          width: 33px;
          height: 26px;
          background: url(../assets/tires.svg) center no-repeat;
        }
      }
    }
  }
}
