.filter {
  margin-bottom: 36px;

  &__wrapper {
    padding: 40px 40px 30px;
    border-radius: 15px;
    background: #f3f3f5;

    @include tabletsm {
      padding: 16px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 0;
    margin: 0 0 24px;

    @include tablet {
      justify-content: center;
    }

    &-button {
      display: block;
      min-width: 135px;
      padding: 13px 25px;
      box-sizing: border-box;
      font-weight: 600;
      font-size: 15px;
      line-height: 117%;
      text-align: center;
      color: $black;
      border-radius: 10px;
      border: 1px solid #dcdcdc;
      transition: all ease-in-out 0.1s;
      cursor: pointer;

      &.active {
        color: $red;
        border-color: $white;
        background-color: $white;
      }

      &:hover {
        color: $white;
        border-color: $white;
        background-color: $red;
      }

      &:active {
        transform: scale(0.98);
      }
    }

    &-info {
      flex: 1 1 auto;
      display: none;
      justify-content: flex-end;
      margin-left: 24px;

      @include tabletsm {
        flex: 1 1 100%;
        justify-content: center;
        margin: 0;
      }

      &.active {
        display: flex;
      }

      &-button {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0;
        font-weight: 600;
        font-size: 15px;
        line-height: 125%;
        text-align: left;
        color: #000;
        border: none;
      }

      &_tires &-button {
        &::before {
          content: '';
          flex: 0 0 auto;
          display: block;
          width: 33px;
          height: 26px;
          background: url(../assets/tires.svg) center no-repeat;
        }
      }
    }
  }

  &__tabs {
    margin: 0 0 20px;

    &-controls {
      display: flex;
      align-items: center;
      gap: 30px;

      @include mobile {
        justify-content: space-between;
        gap: 16px;
      }

      &-advanced,
      &-reset {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 600;
        font-size: 15px;
        line-height: 125%;
        color: $black;
        text-align: left;
        border: none;
        outline: none;
        background: none;
        user-select: none;
        cursor: pointer;

        @include mobile {
          font-size: 12px;
          line-height: 156%;
        }
      }

      &-advanced {
        &-icon {
          position: relative;
          display: inline-block;
          height: 16px;
          width: 28px;
          padding: 2px;
          box-sizing: border-box;
          border: 2px solid $black;
          border-radius: 28px;

          &::before {
            content: '';
            position: absolute;
            left: 2px;
            top: 50%;
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 16px;
            background-color: $black;
            transform: translateY(-50%);
            transition: left ease-in-out 0.1s;
          }
        }

        &.active &-icon::before {
          left: calc(100% - 8px);
        }
      }

      &-reset {
        color: #6d6c6c;

        &::before {
          content: '';
          display: inline-block;
          width: 15px;
          height: 15px;
          background: url(../assets/reset.svg) center no-repeat;
        }
      }
    }
  }

  &__tab {
    position: relative;
    display: none;
    // margin-right: -16px;

    @include laptop {
      margin-right: 0;
    }

    &.active {
      display: block;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      width: 16px;
      background-color: #f3f3f5;
      display: none;

      @include laptop {
        display: none;
      }
    }

    &_frame {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
      }

      &:hover::before {
        pointer-events: none;
      }
    }

    & iframe {
      width: 100%;
      // height: 204px;

      // @include desktop {
      //   height: 264px;
      // }

      // @include laptop {
      //   height: 321px;
      // }

      // @include tablet {
      //   height: 380px;
      // }

      // @include mobile {
      //   height: 640px;
      // }
    }

    &-form {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;

      @include tabletsm {
        gap: 10px;
      }
    }

    &-item {
      flex: 0 0 calc(100% / 4 - 15px / 4 * 3);
      display: flex;
      align-items: center;
      gap: 15px;

      @include desktop {
        flex: 0 0 calc(100% / 3 - 15px / 3 * 2);
      }

      @include laptop {
        flex: 0 0 calc(100% / 2 - 15px / 2);
      }

      @include tablet {
        flex: 0 0 calc(100% / 2 - 15px / 2);
      }

      @include tabletsm {
        flex: 1 1 100%;
        gap: 10px;
      }

      &_sm {
        flex: 1 1 165px;
      }

      &_md {
        flex: 1 1 235px;
      }

      &_lg {
        flex: 1 1 330px;
      }

      &_xl {
        flex: 1 1 calc(100% - 360px);
        display: flex;
        justify-content: flex-end;

        @include desktop {
          flex: 1 1 auto;
          justify-content: flex-start;
        }
      }

      &_sm,
      &_md,
      &_lg,
      &_xl {
        @include tabletsm {
          flex: 1 1 100%;
        }
      }

      & .custom-select {
        &_tires-width .custom-select__selected,
        &_tires-height .custom-select__selected,
        &_tires-diameter .custom-select__selected,
        &_tires-season .custom-select__selected,
        &_tires-disks .custom-select__selected {
          padding-left: 41px;
          background-position: left 15px center;
          background-repeat: no-repeat;
        }

        &_tires-width .custom-select__selected {
          background-image: url(../assets/tire-width.svg);
        }

        &_tires-height .custom-select__selected {
          background-image: url(../assets/tire-height.svg);
        }

        &_tires-diameter .custom-select__selected {
          background-image: url(../assets/tire-diameter.svg);
        }

        &_tires-season .custom-select__selected {
          background-image: url(../assets/tire-season.svg);
        }

        &_tires-disks .custom-select__selected {
          background-image: url(../assets/tire-disk.svg);
        }
      }

      &-input {
        display: block;
        padding: 13px 15px;
        box-sizing: border-box;
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #6d6c6c;
        border: none;
        border-radius: 7px;
        outline: none;
        background-color: $white;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }

    &-item.hidden,
    & .hidden {
      display: none;
    }

    &.advanced &-item.hidden,
    &.advanced .hidden {
      display: flex;
    }

    &:not(.advanced) &-item_year {
      flex: 1 1 150px;
    }

    &:not(.advanced) &-item_price {
      flex: 1 1 150px;
    }

    &:not(.advanced) &-item_xl {
      flex: 1 1 auto;
    }

    &-submit {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      padding: 12px 20px;
      box-sizing: border-box;
      font-weight: 600;
      font-size: 15px;
      line-height: 125%;
      text-align: center;
      color: $white;
      border: 1px solid $red;
      border-radius: 7px;
      background-color: $red;
      transition: all ease-in-out 0.1s;
      cursor: pointer;

      @include tabletsm {
        width: 100%;
      }

      &_w100 {
        width: 100%;
      }

      &:hover {
        filter: contrast(90%);
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }
}
